<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="lean-net50" value="https://nuget.pkg.github.com/xposure/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <lean-net50>
      <add key="Username" value="xposure" />
      <add key="ClearTextPassword" value="2d798e1cd456368fa255bf49da164bb9ca773ca2" /> 
    </lean-net50>    
  </packageSourceCredentials>  
</configuration>