<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="QuantConnect/Lean ruleset" Description="This ruleset is used to enforce repository standards." ToolsVersion="10.0">
  <!-- We can force checks on localizable string using this bit of configuration. This would require setting up resource files for all string literals in the code.
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="MinimumRecommendedRules_Name" />
    <Description Resource="MinimumRecommendedRules_Description" />
  </Localization>
  -->
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1049" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1301" Action="None" />
    <Rule Id="CA1400" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1403" Action="None" />
    <Rule Id="CA1404" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1410" Action="None" />
    <Rule Id="CA1415" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA1901" Action="None" />
    <Rule Id="CA2002" Action="None" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2108" Action="None" />
    <Rule Id="CA2111" Action="None" />
    <Rule Id="CA2112" Action="None" />
    <Rule Id="CA2114" Action="None" />
    <Rule Id="CA2116" Action="None" />
    <Rule Id="CA2117" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2123" Action="None" />
    <Rule Id="CA2124" Action="None" />
    <Rule Id="CA2126" Action="None" />
    <Rule Id="CA2131" Action="None" />
    <Rule Id="CA2132" Action="None" />
    <Rule Id="CA2133" Action="None" />
    <Rule Id="CA2134" Action="None" />
    <Rule Id="CA2137" Action="None" />
    <Rule Id="CA2138" Action="None" />
    <Rule Id="CA2140" Action="None" />
    <Rule Id="CA2141" Action="None" />
    <Rule Id="CA2146" Action="None" />
    <Rule Id="CA2147" Action="None" />
    <Rule Id="CA2149" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2207" Action="None" />
    <Rule Id="CA2212" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2216" Action="None" />
    <Rule Id="CA2220" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2232" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2236" Action="None" />
    <Rule Id="CA2237" Action="None" />
    <Rule Id="CA2238" Action="None" />
    <Rule Id="CA2240" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VersionCheckAnalyzer" RuleNamespace="Microsoft.CodeAnalysis.VersionCheckAnalyzer">
    <Rule Id="CA9999" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1027" Action="None" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1043" Action="None" />
    <Rule Id="CA1044" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1066" Action="None" />
    <Rule Id="CA1067" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1508" Action="None" />
    <Rule Id="CA1509" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2119" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2217" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2226" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2244" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1019" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1200" Action="None" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2234" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="Error" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1813" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1820" Action="None" />
    <Rule Id="CA1826" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2002" Action="None" />
    <Rule Id="CA2008" Action="None" />
    <Rule Id="CA2009" Action="None" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2216" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2237" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CA2243" Action="None" />
    <Rule Id="CA2300" Action="None" />
    <Rule Id="CA2301" Action="None" />
    <Rule Id="CA2302" Action="None" />
    <Rule Id="CA2305" Action="None" />
    <Rule Id="CA2310" Action="None" />
    <Rule Id="CA2311" Action="None" />
    <Rule Id="CA2312" Action="None" />
    <Rule Id="CA2315" Action="None" />
    <Rule Id="CA2321" Action="None" />
    <Rule Id="CA2322" Action="None" />
    <Rule Id="CA3001" Action="None" />
    <Rule Id="CA3002" Action="None" />
    <Rule Id="CA3003" Action="None" />
    <Rule Id="CA3004" Action="None" />
    <Rule Id="CA3005" Action="None" />
    <Rule Id="CA3006" Action="None" />
    <Rule Id="CA3007" Action="None" />
    <Rule Id="CA3008" Action="None" />
    <Rule Id="CA3009" Action="None" />
    <Rule Id="CA3010" Action="None" />
    <Rule Id="CA3011" Action="None" />
    <Rule Id="CA3012" Action="None" />
    <Rule Id="CA3061" Action="None" />
    <Rule Id="CA5350" Action="None" />
    <Rule Id="CA5351" Action="None" />
    <Rule Id="CA5358" Action="None" />
    <Rule Id="CA5359" Action="None" />
    <Rule Id="CA5360" Action="None" />
    <Rule Id="CA5361" Action="None" />
    <Rule Id="CA5362" Action="None" />
    <Rule Id="CA5363" Action="None" />
    <Rule Id="CA5364" Action="None" />
    <Rule Id="CA5365" Action="None" />
    <Rule Id="CA5366" Action="None" />
    <Rule Id="CA5367" Action="None" />
    <Rule Id="CA5368" Action="None" />
    <Rule Id="CA5369" Action="None" />
    <Rule Id="CA5370" Action="None" />
    <Rule Id="CA5371" Action="None" />
    <Rule Id="CA5372" Action="None" />
    <Rule Id="CA5373" Action="None" />
    <Rule Id="CA5374" Action="None" />
    <Rule Id="CA5375" Action="None" />
    <Rule Id="CA5376" Action="None" />
    <Rule Id="CA5377" Action="None" />
    <Rule Id="CA5378" Action="None" />
    <Rule Id="CA5379" Action="None" />
    <Rule Id="CA5380" Action="None" />
    <Rule Id="CA5381" Action="None" />
    <Rule Id="CA5382" Action="None" />
    <Rule Id="CA5383" Action="None" />
    <Rule Id="CA5384" Action="None" />
    <Rule Id="CA5385" Action="None" />
    <Rule Id="CA5386" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA2010" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2207" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetFramework.Analyzers" RuleNamespace="Microsoft.NetFramework.Analyzers">
    <Rule Id="CA1058" Action="None" />
    <Rule Id="CA2153" Action="None" />
    <Rule Id="CA3075" Action="None" />
    <Rule Id="CA3147" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetFramework.CSharp.Analyzers" RuleNamespace="Microsoft.NetFramework.CSharp.Analyzers">
    <Rule Id="CA3076" Action="None" />
    <Rule Id="CA3077" Action="None" />
  </Rules>
</RuleSet>