<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.3" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net462" />
</packages>