<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.6.0" targetFramework="net452" />
  <package id="Accord.Math" version="3.6.0" targetFramework="net452" />
  <package id="AsyncIO" version="0.1.26.0" targetFramework="net452" />
  <package id="Castle.Core" version="4.1.0" targetFramework="net452" />
  <package id="CloneExtensions" version="1.3.0" targetFramework="net452" />
  <package id="DotNetZip" version="1.13.3" targetFramework="net452" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Moq" version="4.7.63" targetFramework="net452" />
  <package id="NetMQ" version="4.0.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NodaTime" version="1.3.4" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="QuantConnect.pythonnet" version="1.0.5.29" targetFramework="net452" />
  <package id="RestSharp" version="106.6.10" targetFramework="net452" />
  <package id="StringInterpolationBridgeStrong" version="0.9.1" targetFramework="net452" />
  <package id="WebSocketSharpFork" version="1.0.4.0" targetFramework="net45" />
</packages>