<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Filtering" version="0.4.0" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.19.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="NLog" version="4.4.13" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.13" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.13" targetFramework="net452" />
</packages>