<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Filtering" version="0.7.0" targetFramework="net462" />
  <package id="MathNet.Numerics" version="4.11.0" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="NLog" version="4.7.2" targetFramework="net462" />
  <package id="NLog.Config" version="4.7.2" targetFramework="net462" />
  <package id="NLog.Schema" version="4.7.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>