<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.2.0-xbuild02" targetFramework="net45" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net452" />
  <package id="R.NET.Community" version="1.6.5" targetFramework="net452" />
</packages>