<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <!-- Linux dll mapping -->
    <dllmap os="!windows,osx" dll="python3.6m">
        <dllentry name="python3.6m" dll="~/anaconda3/envs/base/lib/libpython3.6m.so" />
        <dllentry name="python3.6m" dll="~/miniconda3/envs/base/lib/libpython3.6m.so" />
    </dllmap>
    <!-- OSX dll mapping -->
    <dllmap os="osx" dll="python3.6m">
        <dllmap dll="python3.6m" target="~/anaconda3/lib/libpython3.6m.dylib" />
        <dllmap dll="python3.6m" target="~/miniconda3/lib/libpython3.6m.dylib" />
    </dllmap>
    <!-- If you have a non-standard install location, fill out and uncomment the following line -->
    <!-- <dllmap dll="python3.6m" target="{YOUR PATH FOR libpython3.6m.dylib OR libpython3.6m.so}" os="!windows"/> -->
</configuration>
