<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM-WithExes" version="7.3.4830.1" />
  <package id="Krs.Ats.IBNet" version="9.66.0.31" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NodaTime" version="1.3.1" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
</packages>