<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="NATS.Client" version="0.8.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NodaTime" version="1.3.4" targetFramework="net452" />
  <package id="QuantConnect.IBAutomater" version="1.0.23" targetFramework="net462" />
  <package id="RestSharp" version="106.6.10" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="WebSocketSharpFork" version="1.0.4.0" targetFramework="net452" />
</packages>