<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="true" />
        <add key="automatic" value="true" />
    </packageRestore>
    <packageSources>
        <add key="LocalPackages" value="../LocalPackages" />
    </packageSources>
</configuration>