<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.26.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="NetMQ" version="4.0.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="RestSharp" version="106.6.10" targetFramework="net452" />
  <package id="StringInterpolationBridgeStrong" version="0.9.1" targetFramework="net452" />
</packages>