<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.20.0" targetFramework="net45" />
  <package id="NetMQ" version="3.3.3.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
</packages>