<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="2.15.0" targetFramework="net45" />
  <package id="Accord.MachineLearning" version="2.15.0" targetFramework="net45" />
  <package id="Accord.Math" version="2.15.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="2.15.0" targetFramework="net45" />
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="MathNet.Filtering" version="0.1.1-alpha" targetFramework="net40" />
  <package id="MathNet.Numerics" version="3.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
</packages>