<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.6.0" targetFramework="net452" />
  <package id="Accord.Fuzzy" version="3.6.0" targetFramework="net452" />
  <package id="Accord.MachineLearning" version="3.6.0" targetFramework="net452" />
  <package id="Accord.Math" version="3.6.0" targetFramework="net452" />
  <package id="Accord.Statistics" version="3.6.0" targetFramework="net452" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.19.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NodaTime" version="1.3.4" targetFramework="net452" />
  <package id="QuantConnect.pythonnet" version="1.0.5.26" targetFramework="net452" />
  <package id="R.NET.Community" version="1.6.5" targetFramework="net452" />
  <package id="StringInterpolationBridgeStrong" version="0.9.1" targetFramework="net452" />
</packages>