<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net452" />
  <package id="QuantConnect.pythonnet" version="1.0.5.26" targetFramework="net452" />
  <package id="StringInterpolationBridgeStrong" version="0.9.1" targetFramework="net452" />
</packages>