<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.0.0" targetFramework="net45" />
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net45" />
  <package id="CefSharp.Common" version="47.0.3" targetFramework="net45" />
  <package id="CefSharp.WinForms" version="47.0.3" targetFramework="net45" />
  <package id="GeckoFX" version="1.0.5" targetFramework="net45" />
  <package id="geckofx-core" version="33.0.5.1" targetFramework="net45" />
  <package id="geckofx-winforms" version="33.0.5.1" targetFramework="net45" />
</packages>