<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.20.0" targetFramework="net45" />
  <package id="Baseclass.Contrib.Nuget.Output" version="2.2.0-xbuild02" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="GeckoFX" version="1.0.5" targetFramework="net45" />
  <package id="Moq" version="4.5.21" targetFramework="net45" />
  <package id="NetMQ" version="3.3.3.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.4.1" targetFramework="net45" />
</packages>