<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- For Linux and Mac users: uncomment and fill either of the following: -->
    <!-- <dllmap os="linux" dll="python3.6m" target = "/home/{your_user_name}/miniconda3/envs/{qc_environment}/lib/libpython3.6m.so"/> -->
    <!-- <dllmap os="osx" dll="python3.6m" target = "/Users/{your_user_name}/anaconda3/lib/libpython3.6m.dylib"/> -->
</configuration>
