<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.8" targetFramework="net462" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net45" />
  <package id="MathNet.Filtering" version="0.7.0" targetFramework="net462" />
  <package id="MathNet.Numerics" version="4.9.1" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="NodaTime" version="3.0.0" targetFramework="net462" />
  <package id="RestSharp" version="106.11.4" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WebSocketSharpFork" version="1.0.4.0" targetFramework="net45" />
</packages>