name: Regression Tests

on:
  push:
    branches: ['*']
    tags: ['*']
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Liberate disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          large-packages: false
          docker-images: false
          swap-storage: false

      - name: Define docker helper
        run: |
          echo 'runInContainer() { docker exec test-container "$@"; }' > $HOME/ci_functions.sh
          echo "BASH_ENV=$HOME/ci_functions.sh" >> $GITHUB_ENV

      - name: Start container
        run: |
          docker run -d \
            --workdir /__w/Lean/Lean \
            -v /home/runner/work:/__w \
            --name test-container \
            quantconnect/lean:foundation \
            tail -f /dev/null

      - name: Build
        run: runInContainer dotnet build /p:Configuration=Release /v:quiet /p:WarningLevel=1 QuantConnect.Lean.sln

      - name: Run Tests
        run: |
          runInContainer dotnet test ./Tests/bin/Release/QuantConnect.Tests.dll \
            --filter TestCategory=RegressionTests \
            -- TestRunParameters.Parameter\(name=\"log-handler\", value=\"ConsoleErrorLogHandler\"\) \
            TestRunParameters.Parameter\(name=\"reduced-disk-size\", value=\"true\"\)