name: Research Regression Tests

on:
  push:
    branches: ['*']
    tags: ['*']
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Liberate disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          large-packages: false
          docker-images: false
          swap-storage: false

      - name: Define docker helper
        run: |
          echo 'runInContainer() { docker exec test-container "$@"; }' > $HOME/ci_functions.sh
          echo "BASH_ENV=$HOME/ci_functions.sh" >> $GITHUB_ENV

      - name: Start container
        run: |
          docker run -d \
            --workdir /__w/Lean/Lean \
            -v /home/runner/work:/__w \
            --name test-container \
            quantconnect/lean:foundation \
            tail -f /dev/null
          
      - name: Install Dependencies and Setup Kernel
        run: |
          runInContainer bash -c "
            # Install dependencies
            pip3 install papermill==2.4.0 clr-loader==0.2.9
            
            # Install kernel
            dotnet tool install -g --no-cache --version 1.0.661703 \
              --add-source 'https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json' \
              Microsoft.dotnet-interactive
              
            # Add dotnet tools to Path and activate kernel
            export PATH=\"/root/.dotnet/tools:\$PATH\"
            dotnet interactive jupyter install
          "

      - name: Build and Run Research Tests
        run: |
          runInContainer bash -c "
            # Build
            export PATH=\"/root/.dotnet/tools:\$PATH\"
            dotnet build /p:Configuration=Release /v:quiet /p:WarningLevel=1 QuantConnect.Lean.sln
            
            # Run Tests
            dotnet test ./Tests/bin/Release/QuantConnect.Tests.dll \
              --filter TestCategory=ResearchRegressionTests \
              -- \"TestRunParameters.Parameter(name=\\\"log-handler\\\", value=\\\"ConsoleErrorLogHandler\\\")\" \
              \"TestRunParameters.Parameter(name=\\\"reduced-disk-size\\\", value=\\\"true\\\")\"
          "